<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dunjia.back.mapper.ArticleMapper">
    <insert id="addArticle">
        insert into articles (user_id, title, content, cover, create_time, update_time, status)
        values (#{userId}, #{title}, #{content}, #{cover}, #{createTime}, #{updateTime}, #{status})
    </insert>
    <update id="updateArticle">
        update articles
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="cover != null">cover = #{cover},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status}</if>
        </set>
        where id = #{id}
    </update>
</mapper>